body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  font-style: 500;
  letter-spacing: 0.02em;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-menu {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.address-link {
  color: #434455;
  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.main-first {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-tittle {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  display: flex;
  max-width: 496px;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.second-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.values-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.value-li {
  width: calc((100% - 72px) / 4);
}

.values-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.values-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-tittle {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-div {
  padding: 32px 0;
}

.our-team-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  margin-right: 24px;
}

.our-team-list:last-child {
  margin-right: 0;
}

.member-team {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.ocupation {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.three-section {
  padding: 120px 0;
}

.portfolio-tittle {
  color: #2e2f42;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.main-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  max-width: 264px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo-span {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}
